*.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_s_axis_video_V_user_V.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_s_axis_video_V_last_V.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_s_axis_video_V_keep_V.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_s_axis_video_V_dest_V.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_s_axis_video_V_data_V.dat filter=lfs diff=lfs merge=lfs -text
c.autowhitebalance_accel.autotvin_m_axis_video_V_data_V.dat filter=lfs diff=lfs merge=lfs -text
stream_ingress_status_s_axis_video_V_data_V.dat filter=lfs diff=lfs merge=lfs -text
